.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(145deg, #ff9a9e 0%, #fad0c4 99%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button svg {
  width: 50px;
  height: 32px;
  color: #4b0082;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}