.button {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background-color: #6fb6c1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button svg {
  width: 32px;
  height: 32 px;
  color: white;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}