.form-create{
    display: flex;
    flex-direction: column;
    background-color: #AA4D3F;
    align-items: flex-start;
    padding: 30px 20px 30px 20px;
    font-family: 'inter',Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: 1px solid #42EFEF;
    border-radius: 8px;
}

.form-create input,textarea{
    width: 90%;
    height: 50px;
    padding-left: 30px;
    margin-bottom: 50px;
    background-color: #158985;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter',Arial, Helvetica, sans-serif;
}

textarea{
    padding-top: 10px;
}

.form-create input:focus, textarea{
    border:1px solid #D9D9D9;
}

.form-create input[type="file"]{
    background-color: #AA4D3F;
    margin: 0;
    box-sizing: border-box;
}

label{
    font-size: 22px;
}

.image-label{
    margin: 0 auto;
}
.imagefield-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.modal-window{
    top:0; 
    left:0; 
    width:100%; 
    height:50%;
    background-color:#AA4D3F; 
    display:flex; 
    justify-content:center; 
    align-items:center;
}

.preview{
    border: 1px solid black;
    margin: 10px auto;

}
.gallery-modal{
    background:#AA4D3F; 
    padding:20px; 
    border-radius:10px;
}

.image-gallery{
    width:80px;
    height:100px;
    cursor:pointer;
}

.close-btn{
    width: 80%;
    height: 50px;
}

.btn-field{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-field button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #EF422B;
    border: 1px solid #2C2C2C;
}

.btn-type, .gallery-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #e65c06;
    border: 1px solid #2C2C2C;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.btn-type:hover{
    border:1px solid #42EFEF;
}

.btn-type:active, .gallery-btn:active {
    color:black;
    background-color: #f92003;
}

.btn-field button:active{
    color:black;
    background-color: #18b4af;
}

