html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #eb0606;
}

header {
  min-height: 30px;
  width: 110%;
  margin: 0;
  /*background-color: #ff8c00;*/
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px 20px 5px 0;
  z-index: 50;
}

.cabecera {
  display: flex;
  align-items: center;
  text-align: left;
  color: white;
  margin-left: 0;
}

.cabecera img {
  width: 400px;
  height: auto;
  margin-right: 15px;
  
}

nav {
  width: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 0 30px;
}

.btn-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #ff9a9e 0%, #fad0c4 99%);
  color: #4b0082;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  height: 60px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: 600;
}

.btn-nav:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
/*.btn-nav svg {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.btn-nav {
  height: 30px;
  width: 150px;
  line-height: normal;
  display: inline-block;
  padding-bottom: 5px;
}*/

.btn-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height:30px;
  width: 150px;
  gap: 8px;
}

.btn-nav svg {
  width: 18px;
  height: 18px;
  display: inline-block;
}
