.no-data{
    border:1px solid black;
    background-color: #06547e;
    color: white;
    font-weight: bold;
    width: 40%;
    height: 250px;
    text-align: center;
    padding: 30px 20px 0 20px ;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
}

.dont-stop{
    width: 10%;
}